
<mat-toolbar color="primary">
    <button mat-button><mat-icon>menu</mat-icon></button>
    <span>{{ title }}</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <button mat-button><mat-icon>settings</mat-icon></button>
  </mat-toolbar>

<form class="example-form">
    <mat-form-field class="location_search_box">
        <input type="text" placeholder="Search for Location" aria-label="Number" matInput [formControl]="myControl" [(ngModel)]="searchEntry" (ngModelChange)="searchCityId(searchEntry)" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of searchResult" [value]="option.name">
            {{ option.name }} , {{ option.country }}
          </mat-option>
        </mat-autocomplete>
      <!-- <input type="text" [(ngModel)]="searchEntry" class="search_field" name="name" (ngModelChange)="searchCityId(searchEntry)" matInput placeholder="Location"> -->
      <!-- <input class="search_field" matInput placeholder="Location" value="{{ mWeatherData?.city.name }} - {{ mWeatherData?.city.country }}"> -->
    </mat-form-field>
</form>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Search for Location" aria-label="Number" matInput [formControl]="myControl" [(ngModel)]="searchEntry" (ngModelChange)="searchCityId(searchEntry)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of searchResult" [value]="option.name">
          {{option.name }}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</form> -->
    
<mat-tab-group class="header">
    <mat-tab *ngFor="let day of mWeatherDataF | keyvalue; let first = first" label="{{ getDayLabel(day, first) }}">
        <div class="weather_cards_container">
            <mat-card class="weather_card" *ngFor="let data of day.value">
              <div class="padding_container">
                <mat-card-title class="time">
                  <span class="hour">{{ data.dt * 1000 | date:'HH' }}</span>
                  <span class="minute">{{ data.dt * 1000 | date:'mm' }}</span>
                </mat-card-title>

                <div class="weather_content_container">
                  <div class="weather_icon_row {{getWeatherPosition(data) }}"><i class="{{getWeatherIcon(data) }} icon_wrapper"></i></div>
                  <div class="temperature">{{ getTemperature(data.main) }}</div>
                </div>
              </div>

              <div class="wind_direction_container no-padding">
                  <i class="wi wi-wind towards-{{ data.wind.deg | number:'1.0-0'}}-deg icon_wrapper"></i>
                  <span class="wind_speed">{{ data.wind.speed | number:'1.0-0'}}</span>
              </div>

              <div class="precipitation_container no-padding">
                  <i class="wi wi-raindrops icon_wrapper"></i>
                  <span class="wind_speed">{{ getRainChance(data.rain) }}</span>
              </div>
            </mat-card>
          </div>
    </mat-tab>
</mat-tab-group>